{% extends 'velca/base.html' %}
{% block title %}{{ game_detail.matchday }}{% endblock %}
{% block content %}
  <h1 class="mt-5 mb-4">クラブ一覧</h1>
  <table class="table table-striped">
    <tr>
      <th>クラブ名</th>
    </tr>

    {% for data in object_list %}
      <tr>
        <td><a href="{% url 'velca:club_detail' data.pk %}" class="link-dark text-decoration-none">{{ data.club_name }}</a></td>
      </tr> 
    {% endfor %}
  </table>


  <!-- <table class="table table-striped">
    <tr>
      <th>AWAY</th>
      <th>選手名</th>
      <th>プレイタイム</th>
      <th>得点</th>
      <th>アシスト</th>
      <th>リバウンド</th>
      <th>オフェンスリバウンド</th>
      <th>ディフェンスリバウンド</th>
      <th>スティール</th>
      <th>ブロック</th>
    </tr>
    {% for data in game_list %}
    <tr>
      <td>{{ data.away_club }}</td>
    
      {% for player in away_player %}
      <td>{{ player.name }}</td>
      {% endfor %}
    
      {% for stats in away_player_stats_list %}
      <td>{{ stats.play_time }}</td>
      <td>{{ stats.score }}</td>
      <td>{{ stats.assist }}</td>
      <td>{{ stats.rebound }}</td>
      <td>{{ stats.o_rebound }}</td>
      <td>{{ stats.d_rebound }}</td>
      <td>{{ stats.steel }}</td>
      <td>{{ stats.block }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    

  </table> -->
  
{% endblock %}