{% extends 'velca/base.html' %}
{% block content %}

  <table class="table table-striped">
    <tr>
      <th>選手名</th>
      <th>プレイタイム</th>
      <th>得点</th>
      <th>アシスト</th>
      <th>リバウンド</th>
      <th>オフェンスリバウンド</th>
      <th>ディフェンスリバウンド</th>
      <th>スティール</th>
      <th>ブロック</th>
    </tr>

    {% for stats in object_list %}
      <tr>
        <td>
          {{ stats.name }}
          <!-- {% for name in stats.player_name.all %}
            {{ name.name }}
          {% endfor %} -->
        </td>
        <td>{{ stats.play_time }}</td>
        <td>{{ stats.score }}</td>
        <td>{{ stats.assist }}</td>
        <td>{{ stats.rebound }}</td>
        <td>{{ stats.o_rebound }}</td>
        <td>{{ stats.d_rebound }}</td>
        <td>{{ stats.steel }}</td>
        <td>{{ stats.block }}</td>
      </tr>
    {% endfor %}

  </table>
{% endblock %}