{% extends 'velca/base.html' %}
{% block title %}{{ game_detail.matchday }}{% endblock %}
{% block content %}
  <h1 class="mt-5 mb-4">{{ game_detail.matchday }}　{{ game_detail.home_club }} VS {{ game_detail.away_club }}</h1>
  <table class="table table-striped">
    <tr>
      <th>選手名</th>
      <th>背番号</th>
      <th>所属チーム</th>
      <th>生年月日</th>
    </tr>
        {% for personal in player_personal_list %}
          <tr>
            <td>{{ personal.name }}</td>
            <td>{{ personal.jersey_number }}</td>
            <td>{{ personal.players_team }}</td>
            <td>{{ personal.player_birthday|date:"Y-m-d" }}</td>
          </tr>
        {% endfor %}
  </table>

  
{% endblock %}